---
import '../../styles/blocks/edit.css';
---

<div id="edit">
    <button class="material-symbols-outlined">keyboard_arrow_up</button>
    <button class="material-symbols-outlined">keyboard_arrow_down</button>
    <button class="material-symbols-outlined">edit</button>
    <button class="material-symbols-outlined delete">delete</button>
</div>