---
import Layout from '../layouts/page.astro';
---

<Layout title="">
	<h1>The Toneys</h1>
	<p>Hello! We are the Toneys, a friendly jazz big band!</p>

	<h2></h2>

	<h2>Meet the Band!</h2>
	<h3>Vocals</h3>
	<p>
		Vocals<br>
		Backing Vocals I<br>
		Backing Vocals II
	</p>

	<h3>Horns</h3>
	<p>
		Flute<br>
		Alto Saxophone I<br>
		Alto Saxophone II<br>
		Tenor Saxophone<br>
		B♭/Bass Clarinet<br>
	</p>
	<p>
		Trumpet I<br>
		Trumpet II<br>
		Trumpet III<br>
	</p>
	<h3>Rhythm</h3>
	<p>
		Piano<br>
		Guitar<br>
		Double Bass and Vocals<br>
		Drums<br>
		Auxillary Percussion<br>
	</p>

	<h3>Strings</h3>
	<p>
		Cello<br>
	</p>


	<h2>Contact Us</h2>
	<p>
		Contact Us: <a href="mailto: tony@toneys.band">tony@toneys.band</a>
	</p>
</Layout>
