---
import Layout from '../layouts/page.astro';
---

<Layout title="">
	<h1>The Toneys</h1>
	<p>Hello! We are the Toneys, a friendly jazz big band!</p>

	<h2></h2>

	<h2>Meet the Band!</h2>
	<h3>Vocals</h3>
	<p>
		Vocals - Tony<br>
		Background Vocals - Tony and Tony
	</p>

	<h3>Horns</h3>
	<p>
		Flute - Tony<br>
		Alto I - Tony<br>
		Alto II - Tony<br>
		Tenor - Tony<br>
		Bass Clarinet - Tony<br>
	</p>
	<p>
		Trombone - Tony
	</p>
	<p>
		Trumpet I - Tony<br>
		Trumpet II - Tony<br>
		Trumpet III - Tony<br>
	</p>
	<h3>Rhythm</h3>
	<p>
		Piano - Tony<br>
		Guitar - Tony<br>
		Double Bass and Vocals - Tony<br>
		Drums - Tony<br>
		Auxillary Percussion - Tony
	</p>

	<h3>Strings</h3>
	<p>
		Cello - Tony<br>
	</p>


	<h2>Contact Us</h2>
	<p>
		Contact Us: <a href="mailto: tony@toneys.band">buh</a>
	</p>
</Layout>