---
import Layout from '../layouts/page.astro';
---

<style>
    :root {
        --background: #2a1544;
        --text: #ffffff;
        --fontStyle: "Pixelify Sans";
    }    
</style>
<Layout title="">
    <img src="/o7.png" alt="The o7 Jazz Ensemble logo" width="600px"/>
	<h1>Welcome to The Phoneys!</h1>
	<p> Hello! We are the o7 Jazz Ensemble, a small jazz band focusing on the wonderful music from video games! 
        For reasons probably too complicated to explain, we also often refer to ourselves as the Phoneys</p>

	<h2>Meet the Band!</h2>
	<h3>Horns</h3>
	<p>
        Flute - Phoney<br>
		Alto - Phoney<br>
        Trumpet - Phoney
	</p>
	<h3>Rhythm</h3>
	<p>
		Piano - Phoney<br>
        Double Bass - Phoney<br>
        Drums - Phoney<br>
        Auxillary Percussion - Phoney<br>
        Guitar - Phoney<br>
        Guitar - Phoney
    </p>
</Layout>